<div class="wrapper">
  <ul class="navbar">
    <li>
      <app-tenco-navbar-item [navigation]="'/home'" [title]="'Home'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'/about'" [title]="'About Us'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'/services'" [title]="'Services'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'/membership'" [title]="'Membership'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'/events'" [title]="'Events'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'/partners'" [title]="'Partners'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'/contacts'" [title]="'Contact'"></app-tenco-navbar-item>
    </li>
    <li>
      <app-tenco-navbar-item [navigation]="'**'" [title]="'*none*'"></app-tenco-navbar-item>
    </li>
  </ul>
</div>
