<section class="page-wrapper">
  <div class="contact-us flex-wrapper flex-column">
    <div class="head">
      <h1>CONTACT US</h1>

    </div>
    <app-tenco-tile-reference-container [items]="[
        {text: 'Rue Philippe-Plantamour 8 1201 Geneva, Switzerland', title: 'HEADQUARTERS', icon: 'pin_drop'},
        {text: '+41 79 365 11 10',title: 'Telephone', icon: 'phone_iphone'},
        {text: 'contact@tenco.ch',title: 'Email', icon: 'mail'},
    ]"></app-tenco-tile-reference-container>
  </div>
  <app-tenco-map></app-tenco-map>
</section>
