.contact-us {
  background-color: #F2E4B0;
  background-image: url('./../../../assets/imgs/bg/tenco-contact.jpg');
  background-position: 65vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.head {
  margin: 7em 0 5em 0;
}
