<section class="page-wrapper">
  <app-tenco-fullwidthscreen-section [imagePosition]="'0em'" [brightness]="'0.5'"
    [image]="'./../../../assets/imgs/statics/alt_partners.jpg'" [title]="'PARTNERS'">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-slided-text [needToSlide]="false" [title]="'PARTNERING WITH TENco'" [textRows]="
    [
    'TENco is all about building sustainable and intimate connections. We are proud of our ever-growing network and our
    partnerships with the most prestigious brands.',
    'Our mission is to match every client with a brand, service, or specialist that represents a perfect fit, as we are
    continuously expanding our collaborative partnerships across the world.',
    ]
  ">
  </app-tenco-slided-text>

  <app-tenco-tile-reference-container [items]="[
  {title: 'CO-HOST AN EVENT WITH TENco', icon: 'handshake'},
  {title: 'JOIN THE EXCLUSIVE NETWORK', icon: 'language'},
  ]"></app-tenco-tile-reference-container>
  <app-tenco-delimeter></app-tenco-delimeter>
  <app-tenco-slider></app-tenco-slider>
  <app-tenco-delimeter></app-tenco-delimeter>
  <app-tenco-contact-form></app-tenco-contact-form>
</section>
