<section class="page-wrapper">
  <app-tenco-fullwidthscreen-section [brightness]="'0.7'"
    [image]="'./../../../assets/imgs/statics/TENCO_Lifestyle_warmer.jpg'" [title]="'ABOUT US'">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-slided-text [needToSlide]="false" [title]="'OUR VISION'" [textRows]="
    [
    'TENco was created to make you feel free from complexities and worries, enabling you to enjoy your life to the fullest. Our members are at the heart of everything we do. TENco is a place where you can be yourself, unapologetically.',
    'We empower you to achieve whatever you desire. Evolve, accelerate, and enjoy the best of what life has to offer. We support our members throughout their inspiring journey.',
    'Expect the unexpected and achieve the unachievable. We work hard, so you can play harder!',
    ]
  ">
  </app-tenco-slided-text>

  <app-tenco-fullwidthscreen-section [textRows]="['We work hard all around the world, so that you can play harder']"
    [imagePosition]="'0em'" [brightness]="'0.6'" [image]="'./../../../assets/imgs/statics/map.jpg'"
    [title]="'A GLOBAL REACH'">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-imaged-text [title]="'WHY WE EXIST'" [image]="'./../../../../assets/imgs/etc/IMG_8339-735x1024.jpg'"
    [textRows]="[
    'TENco’s mission and approach is unique to itself.',
    'Our founder and CEO Tural Mammadov, a former wealth manager, created TENco to realize his vision: A company that provides unlimited personalized support in every aspect of life, within the most exclusive community.',
    'Begin to live abundantly, thrive every day, free of complications and worries.',
    ]"></app-tenco-imaged-text>
</section>
