<div class="flex-wrapper">
  <app-tenco-hover-animated-tile [backgroundUrl]="'./../../../assets/imgs/tiles/home-member-last1.vertical-tenco.jpg'"
    [backText]="'Our members are at the heart of our network.'" [backTitle]="'Your Membership'"
    [animType]="animations[0]">
  </app-tenco-hover-animated-tile>
  <app-tenco-hover-animated-tile [backgroundUrl]="'./../../../assets/imgs/tiles/home-services-last1.vertical-tenco.jpg'"
    [backText]="'Welcome to your unlimited possibilities within the Inner Circle.'" [backTitle]="'Our Services'"
    [animType]="animations[1]">
  </app-tenco-hover-animated-tile>
  <app-tenco-hover-animated-tile [backgroundUrl]="'./../../../assets/imgs/tiles/events3.vertical-tenco.jpg'"
    [backText]="'Forge unforgettable moments, build unbreakable bonds.'" [backTitle]="'TENco Events'"
    [animType]="animations[2]">
  </app-tenco-hover-animated-tile>
</div>
