.event-list {
  width: 74.5em;
  position: relative;
}

.scroll-line-outter {
  width: 0.5em;
  background-color: gray;
  height: 80%;
  position: absolute;
  top: 14em;
  z-index: -10;

  .scroll-line-inner {
    background-color: #D4AA00;
    width: 0.5em;
    position: relative;
    z-index: -9;
  }
}
