<div class="flex-wrapper top-marginned bottom-marginned">
  <app-tenco-slided-text class="left" [needToSlide]="false" [title]=title [textRows]=textRows>
  </app-tenco-slided-text>
  <!-- <div class="left flex-wrapper">
    <h2 class="black-text">WHY WE EXIST</h2>
    <p>TENco’s mission and approach is unique to itself.</p>
    <p>Our founder and CEO Tural Mammadov, a former wealth manager, created TENco to realize his vision: A company that
      provides unlimited personalized support in every aspect of life, within the most exclusive community.</p>
    <p>Begin to live abundantly, thrive every day, free of complications and worries.</p>
  </div> -->
  <div class="right flex-wrapper">
    <img src="{{image}}" alt="">
  </div>
</div>
