<section class="page-wrapper">
  <app-tenco-fullwidthscreen-section [brightness]="'0.5'" [image]="'./../../../assets/imgs/statics/tenco-home.jpg'"
    [title]="'A LIFE WHERE EVERYTHING FEELS LIKE A PLAY'">
  </app-tenco-fullwidthscreen-section>
  <app-tenco-delimeter></app-tenco-delimeter>
  <app-tenco-slided-text [needToSlide]="true"
    [title]="'DISCOVER SWITZERLAND\'S MOST EXCLUSIVE PRIVATE MEMBERSHIP CLUB.'" [textRows]="
    [
    'TENco’s core mission is to enable you to focus on what really matters most in your life.
    Never set limits, go after your dreams and don’t be afraid to push boundaries.',
    'At TENco, you can expect a new realm of life-changing opportunities like nowhere else. We provide you with the highest level of personalized service and thrive to exceed all your expectations. As part of the exclusive TENco community, you will have the chance to encounter like-minded individuals from our carefully selected network of Members.',
    ]
  ">
  </app-tenco-slided-text>
  <app-tenco-delimeter></app-tenco-delimeter>
  <app-tenco-hover-animated-tile-container></app-tenco-hover-animated-tile-container>
  <app-tenco-delimeter></app-tenco-delimeter>
  <app-tenco-slider></app-tenco-slider>
</section>
