<section class="page-wrapper">
  <app-tenco-fullwidthscreen-section [brightness]="'0.6'" [imagePosition]="'0em'"
    [image]="'./../../../assets/imgs/statics/new_services.jpg'" [title]="'SERVICES'"
    [textRows]="['IMMERSE YOURSELF INTO THE TENco WORLD AND WIN AT THE GAME OF LIFE.',]">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-fullwidthscreen-section [brightness]="'0.4'" [imagePosition]="'0em'"
    [image]="'./../../../assets/imgs/statics/Lifesytyle-Manager.jpg'" [title]="'PERSONAL ASSISTANCE'" [textRows]="[
    
    'We offer you unlimited personalized support in every aspect of your life. Our team will go above and beyond to take care of your personal wishes and day-to-day requests. You will have your own dedicated lifestyle manager who will be your main point of contact available 24/7, 365 day a year.',
    'Focus on what truly matters to you and let us take care of the rest!',]">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-fullwidthscreen-section [brightness]="'0.3'" [imagePosition]="'0em'"
    [image]="'./../../../assets/imgs/statics/redcharlie-h2_OMqGcAHU-unsplash-scaled.jpg'"
    [title]="'TRAVEL LIKE NEVER BEFORE'" [textRows]="[
    'Travel with ease as we take care of everything, down to the very last detail.',
    'We offer you unlimited personalized support in every aspect of your life. Our team will go above and beyond to take
    care of your personal wishes and day-to-day requests. You will have your own dedicated lifestyle manager who will be
    your main point of contact available 24/7, 365 day a year.',
    'Focus on what truly matters to you and let us take care of the rest!',]">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-fullwidthscreen-section [brightness]="'0.4'" [imagePosition]="'0em'"
    [image]="'./../../../assets/imgs/statics/nasa-_SFJhRPzJHs-unsplash-scaled.jpg'"
    [title]="'YOUR NETWORKING COMMUNITY'" [textRows]="[

    'Meet and connect with like-minded individuals within our exclusive community. You will have the opportunity to
    build long-lasting and meaningful relationships. Whether you wish to connect for leisure or business purposes, our
    community is one of a kind.',]">
  </app-tenco-fullwidthscreen-section>

  <app-tenco-fullwidthscreen-section [brightness]="'0.5'" [imagePosition]="'0em'"
    [image]="'./../../../assets/imgs/statics/DSC_4757-copy-2.jpg'" [title]="'UNFORGETTABLE EVENTS'" [textRows]="[
     'Celebrate and enjoy life to the fullest as we unveil a whole new world to you.
     From small private gatherings to lavish celebrations, TENco is known to organize sensational events in the most
     coveted locations and venues around the globe.',
     'As a Member of TENco, you will be granted privileged access to the most exclusive high-end events worldwide.',
     'Get ready to connect on a different level.',]">
  </app-tenco-fullwidthscreen-section>
</section>
